
:root {
    --body-background-color: #eee;
}

*, *::before, *::after {
    box-sizing: border-box;
  }

body {
    background-color: var(--body-background-color);
    line-height: 1.5rem;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}